NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_SITE_URL=https://testownik.solvro.pl
JWT_SECRET=your-jwt-secret-key
INTERNAL_API_KEY=your-internal-api-key
NEXT_PUBLIC_TURN_USERNAME=
NEXT_PUBLIC_TURN_CREDENTIAL=
S3_URL=https://s3.b.solvro.pl
OPENAI_API_KEY=your-openai-api-key
ANTHROPIC_API_KEY=your-anthropic-api-key
XAI_API_KEY=your-xai-api-key
