@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-input: var(--accent-input);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9695 0.0045 258.32);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.938 0.0167 259.42);
  --card-gradient-from: oklch(0.9695 0.0045 258.32);
  --card-gradient-to: oklch(0.8855 0.0174 256.29);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-input: oklch(0.9262 0.0109 256.7);
  --accent-foreground: oklch(0.2782 0.0521 262.02);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.4506 0.097 262.17);
  --input: oklch(0.9695 0.0045 258.32);
  --ring: oklch(0.5755 0.1121 261.55);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --cta-gradient-from: oklch(0.6515 0.1869 258.72);
  --cta-gradient-to: oklch(0.4879 0.1614 259.14);
  --background-gradient-from: oklch(0.8135 0.0627 257.53);
  --background-gradient-to: oklch(0.8855 0.0174 256.29);
}

.dark {
  --background: oklch(0.177 0.025 262.114);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.1877 0.0283 264.85);
  --card-gradient-from: oklch(0.2782 0.0521 262.02);
  --card-gradient-to: oklch(0.1775 0.0248 262.11);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.27 0.052 261.976);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.245 0.043 262.55);
  --muted-foreground: oklch(0.9262 0.0109 256.7 / 50%);
  --accent: oklch(0.244 0.044 261.057);
  --accent-input: oklch(0.5755 0.1121 261.55);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.82 0.084 261.375 / 0.1);
  --input: oklch(0.2782 0.0521 262.02);
  --ring: oklch(0.3663 0.0748 261.57);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --cta-gradient-from: oklch(0.6515 0.1869 258.72);
  --cta-gradient-to: oklch(0.4879 0.1614 259.14);
  --table-gradient-from: oklch(0.2782 0.0521 262.02);
  --table-gradient-to: oklch(0.1775 0.0248 262.11);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

::view-transition-old(.h-full) {
  height: 100%;
}

::view-transition-new(.h-full) {
  height: 100%;
}
